<!--The content below is only a placeholder and can be replaced.-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
.center {
  margin: 0 0 0 23%;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#h{
  color: red;
}
</style>

<div style="text-align:center">
  <h1 id="h">
    I love you {{ title }}!
  </h1>
</div>
<img class="center" src="https://scontent.fhyd5-1.fna.fbcdn.net/v/t1.0-9/25152286_1058209560986084_6790214626064134705_n.jpg?_nc_cat=108&_nc_ht=scontent.fhyd5-1.fna&oh=83b85b54d790798af69ce0f97bb7be6d&oe=5D186CF9" alt="pImahe" align="middle">
<!-- <h2>Here are some links to help you start </h2> -->

<P style="text-align:center"><span class="glyphicon glyphicon-copyright-mark"></span> RamanChanda</P>

<router-outlet></router-outlet>
